#main-about {
    .main-text {
        box-sizing: border-box;
        padding: 0 20px 0 0;
        width: 60%;

        .main-text-list {
            list-style-type: $list-style-type;

            li {
                margin-bottom: 8px;
            }
        }
    }

    img {
        border: $border;
    }

    .main-img {
        width: 40%;
        img {
            width: 100%;
        }
    }

    .main-text,
    .main-img {
        display: inline-block;
        vertical-align: top;
        position: relative;
    }

    #main-slider {
        .slick-slide {
            width: 180px !important;
            padding: 20px 10px;
            box-sizing: border-box;
            opacity: 0.5;
            transition: all 0.5s ease-out;

            &.slick-current {
                width: 200px !important;
                opacity: 1;
                padding: 10px;
            }
        }

        .slick-prev,
        .slick-next {
            &:before {
                transition: color 0.5s ease-out;
                color: $color1 !important;
            }

            &:hover:before {
                color: $color3 !important;
            }
        }
    }
}

@media only screen and (max-width: 1200px) { 
    #main-about {
        #main-slider{ 
            max-width: 552px;
            margin: auto;
  
            .slick-prev {
                left: -85px;
            }

            .slick-next {
                right: -50px;
            }

            .slick-prev, .slick-next{
                top: 25%;

                &:before{
                    font-size: 40px;
                }
            }
        }
    }
  }
