.left-to-right-appear {
  right: 200%;

  &.left-to-right-appear-active {
    right: 0%;
    transition: right 0.5s ease-out;
  }
}

.right-to-left-appear {
  left: 200%;

  &.right-to-left-appear-active {
    left: 0%;
    transition: left 0.5s ease-out;
  }
}

.opacity-appear {
  opacity: 0;

  &.opacity-appear-active {
    opacity: 1;
    transition: opacity 1s ease-out 0.5s;
  }
}

.opacity-enter {
  opacity: 0;
  
  &.opacity-enter-active {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
}

.opacity-test-appear {
  opacity: 0;

  &.opacity-test-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
}
