@mixin transition-opacity($duration, $delay) {
  opacity: 1;
  transition: opacity $duration ease-out $delay;
}

.opacity-delay-appear {
  opacity: 0;

  &.opacity-delay-appear-active {
    @include transition-opacity(1s, 0.5s);
  }
}

.opacity-enter {
  opacity: 0;
  
  &.opacity-enter-active {
    @include transition-opacity(0.3s, 0s);
  }
}

.opacity-appear {
  opacity: 0;

  &.opacity-appear-active {
    @include transition-opacity(0.5s, 0s);
  }
}

@media only screen and (max-width: 1200px) {
  .opacity-delay-appear, .opacity-enter,.opacity-appear {
    opacity: 1;
    transition: none;
  }
}
