#header {
    background-color: $color3;

    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }

    .header-nav {
        margin: 0;
        padding: 0;
        float: right;

        .header-nav-item {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: bold;
            cursor: pointer;

            a {
                padding: 20px;
                display: inline-block;
                color: $color4;
            }

            &:after {
                display: block;
                content: "";
                border-bottom: solid 4px $color2;
                transform: scaleX(0);
                transition: transform 350ms ease-in-out;
                background-color: $color2;
            }

            &.active,
            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
