@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$font-family: "Roboto", sans-serif;
$font-size: 14px;
$color1: #ac5e27;
$color2: #dc9d36;
$color3: #1d5b6a;
$color4: #f9eddc;
$color5: #ffffff;
$color6: #dc9d36;
$list-style-type: square;
$border: 1px solid $color6;
html {
  font-family: $font-family;
  font-size: $font-size;

  body {
    margin: 0;
    background-color: $color5;
    color: $color1;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .row {
      max-width: 1000px;
      margin: auto;

      h1 {
        position: relative;
      }
    }

    hr {
      margin: 30px 0;
      height: 4px;
      background-color: $color2;
      border: none;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      box-sizing: border-box;
      font-size: 1.3rem;
      font-weight: bold;
      cursor: pointer;
      background-color: $color4;
      border: $border;
      transition: background-color 0.5s ease-out;
      color: $color1;
      font-family: $font-family;

      &:hover,
      &:focus {
        background-color: $color3;
        color: $color4;
        outline: none;
      }

      &:active {
        outline: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
    body {
      .main {
        padding: 30px;
      }
    }
  }
}
