#main-skills {
    .charts-skills {
        height: 200px;
    }
    .skills-description {
        background-color: $color4;
        padding: 20px;

        .skills-images {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            .skills-image {
                height: 70px;
                background-color: $color5;
                padding: 10px;
                margin: 5px;
                border: $border;

                img {
                    height: 70px;
                }
            }
        }

        .skills-text {
            padding: 20px 5px 0 5px;
        }
    }
}
